<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
		<link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body>
		
		<section data-article="{{id}}">
			<div class="article">
				<h1>{{ title }}</h1>
				<p>{{ body }}</p>
			</div>
			<div class="comments" data-limit="5">
				<ul>
					<li>
						<p><span>{{ author }}: </span>Lorem Ipsum</p>
						<ul>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
						</ul>
					</li>
					<li>
						<p><span>{{ author }}: </span>Lorem Ipsum</p>
						<ul>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
						</ul>
					</li>
					<li>
						<p><span>{{ author }}: </span>Lorem Ipsum</p>
						<ul>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
						</ul>
					</li>
					<li>
						<p><span>{{ author }}: </span>Lorem Ipsum</p>
						<ul>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
						</ul>
					</li>
					<li>
						<p><span>{{ author }}: </span>Lorem Ipsum</p>
						<ul>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
							<li><p><span>{{ author }}: </span>Lorem Ipsum</p></li>
						</ul>
					</li>
				</ul>
			</div>
		</section>


    </body>
</html>
